/* =========course-detail */
.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #f2f2f2;
}

.post__form {
  padding: 14px;
  border: 1px solid #00aeef;
}

.accordion__heading {
  position: relative;
  font-weight: 600;
}

.accordion__sub {
  position: absolute;
  right: 0;
  font-weight: 400;
}

.lesson-list {
  margin: 0 !important;
  padding: 0;
  list-style: none;
}

.lesson-item:last-child {
  margin: 0;
}

.lesson-item {
  position: relative;
  margin-bottom: 10px;
}
.lession-title {
  width: 80%;
  display: inline-block;
}
.lesson-time {
  position: absolute;
  top: 0;
  right: 0;
}

#accordion .card-header {
  cursor: pointer;
}
/* ============================== */

/* =================.my-course-detail================== */
.my-course-detail {
  margin-bottom: 200px;
}
.active-courses {
  text-align: center;
  display: inline-block;
  width: 80%;
  background-color: #5c9cfe;
  color: white !important;
  border-radius: 10px;
}
.background-body {
  background-color: #f9fafc;
}
.my-courses-left {
  background: white;
  padding: 14px;
}
.my-courses-heading {
  color: #232731;
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 26px;
}

.video-show {
  width: 100%;
  height: 538px;
}
/* .course-video {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/event-5.png);
} */
/* =================.End my-course-detail================== */

/* =================.form key active================== */
.form-active {
  background-color: #e8e8e8;
  padding: 50px 0;
}
.form-active h2 {
  font-size: 40px;
  color: #454545;
}
.form-active .col-7 {
  margin: 0 auto;
}
.form-active .col-7,
.form-active .col-12 {
  text-align: center;
  line-height: 3rem;
}
.form-active .so {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  background-color: #999999;
  border-radius: 15px;
  padding: 3px 10px;
}
.form-active form a {
  color: #3cbee3;
}
.key-check-new input {
  border: 1px solid #6a6a6a;
  flex: 1;
  border-radius: 4px;
}
.key-check-new {
  display: flex;
  justify-content: space-between;
}
.key-check-new .btn-check {
  padding: 12px;
  border-top: 1px solid #6a6a6a;
  border-right: 1px solid #6a6a6a;
  border-bottom: 1px solid #6a6a6a;
  border-radius: 4px;
}
.form-active .btn-submit {
  padding: 8px 20px;
  font-size: 1rem;
  background-color: #ec5252;
}
.icon-unblock {
  font-size: 20px;
  color: #ffffff;
}
.form-active button {
  color: #ffffff;
  border: 1px solid #6a6a6a;
  border-radius: 2px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}
.form-active .err {
  background-color: #f2dede;
  color: #a94442;
  border-radius: 4px;
  border-color: #ebccd1;
}
